*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    font-size 62.5%;
}

html, body{
    background-color: #2f4f30;
}

.titulo{
    text-align : center;
    background-color: black;
    color: azure;
    padding: 2rem;
    font-size: 2.5rem;
}

.imagen_titulo{
    width: 10rem;
    height: 5rem;
}

.row{
    background-color: #2f4f30;
}

h1{
    color:azure;
}

.carta{
    position: relative;
    width : 10rem;
    left: 8rem;
    margin-left: -5rem;
}

#computadora-cartas, #jugador-cartas{
    height : 16rem;
}